@{
    //Layout = null;
}

<h1>About Page</h1>
<p>This is ASP.NET Core MVC Educational Application for SPD221 Group</p>
<button type="button" class="btn btn-success">Push Me</button>

<div>
    @for (int i = 0; i < 7; i++)
    {
        <img width="100" alt="asp.net" src="https://www.webnovos.com/assets/img/vector-image/asp/asp_header2.png" />
    }
</div>

@* Razor Syntax: @if(condition) { code } @switch @for @{ c# code } *@